:root {
  --clr-primary: #fc307b;
  --clr-secondary: #2c92ef;
  --clr-accent: rgb(40, 101, 182);
  --clr-accent2: #128fe0;
  --clr-light: rgb(197, 197, 197);
  --gap: 0.5rem;
}

/* ------- */
/*  Reset  */
/* ------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* font-family: "Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji", "SFMono-Regular", "Menlo", "Monaco",
    "Consolas", "Liberation Mono", "Courier New", monospace; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  background: black;
  color: white;
  overflow-x: hidden;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: var(--clr-primary);
}

.text-secondary {
  color: var(--clr-secondary);
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-secondary {
  background-color: #1f293a;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: flex;
  gap: var(--gap, 1rem);
}

#container {
  margin: 0 auto;
  max-width: 60rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 1em;
  box-shadow: 0px 1px 4px 1px #000000;
  height: 50px;
}

nav h1 {
  color: var(--clr-light);
  margin-top: 0.4em;
}

nav ul {
  margin: 0;
}

nav li {
  float: left;
  list-style: none;
  padding: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

i {
  margin-right: 0.4em;
}

nav li:hover {
  background-color: var(--clr-accent2);
}

.active {
  background-color: var(--clr-accent2);
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: var(--clr-light);
}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
}

.main {
  margin: 5em 0;
}

.buttons {
  margin: 1em;
}

.description {
  margin: 12px;
}

.perspective {
  perspective: 10rem;
}

.main-description {
  background: linear-gradient(
    90deg,
    hsl(255 50% 0% / 0.8) 75%,
    hsl(255 50% 50% / 0)
  );
}

.gallery {
  position: relative;
  z-index: -1;
  left: min(calc(1000px - 100vw) * -1, 0px);
  width: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  gap: var(--gap, 1rem);
  transform: rotateY(-5deg);
}

.gallery > a,
img {
  border-radius: 0.75em;
  transition: transform 350ms ease-in;
}

.gallery > a:hover,
.gallery > a:focus-visible {
  box-shadow: 0 0 1.5rem var(--clr-secondary);
  transform: scale(1.1);
}

section {
  background-color: white;
}

.card-container {
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 1.5em;
  padding-bottom: 2.5em;
}

.vertical {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: -1px 2px 4px 0px var(--clr-secondary);
  box-shadow: -1px 2px 4px 0px var(--clr-secondary);
  background-color: white;
  color: rgb(71, 71, 71);
  border-radius: 1em;
  overflow: hidden;
  transition: transform 350ms ease-in;
}

.vertical > img {
  border-radius: 0;
  aspect-ratio: 1.2;
}

.vertical:hover,
.verical:focus-visible {
  box-shadow: 0 0 1.5rem var(--clr-secondary);
  transform: scale(1.1);
}

.vertical .buttons {
  margin-top: auto;
  display: flex;
  gap: 0.4em;
}

button {
  background-color: var(--clr-accent2);
  border: none;
  color: white;
  height: 2.5em;
  border-radius: 0.5em;
  padding: 0 0.5em;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}
